{
    # Configures the ACME DNS challenge provider to use for all ACME transactions.
    # Alternatively, the tls directive can be used at each site.
    # See cloudflare dns exaple: 
    # https://github.com/caddy-dns/cloudflare?tab=readme-ov-file#single-key-approach
    acme_dns duckdns {env.DUCKDNS_API_TOKEN}
    email {env.ACME_ACCOUNT_EMAIL}

}

# Must use wildcard certificate for sub-subdomains of DuckDNS, because these
#   custom subdomains don't have their own DNS record and therefore fail the
#   ACME DNS-01 challenge
*.{$DOMAIN_LOCAL} *.{$DOMAIN_VPN} {

    @speedtest          host speedtest.{$DOMAIN_LOCAL} speedtest.{$DOMAIN_VPN}
    @speedtest-tracker  host speedtest-tracker.{$DOMAIN_LOCAL} speedtest-tracker.{$DOMAIN_VPN}
    @youtube-dl         host youtube-dl.{$DOMAIN_LOCAL} youtube-dl.{$DOMAIN_VPN}
    @gluetun-st         host gluetun-st.{$DOMAIN_LOCAL} gluetun-st.{$DOMAIN_VPN}
    @qbittorrent        host qbittorrent.{$DOMAIN_LOCAL} qbittorrent.{$DOMAIN_VPN}
    @prowlarr           host prowlarr.{$DOMAIN_LOCAL} prowlarr.{$DOMAIN_VPN}
    @sonarr             host sonarr.{$DOMAIN_LOCAL} sonarr.{$DOMAIN_VPN}
    @radarr             host radarr.{$DOMAIN_LOCAL} radarr.{$DOMAIN_VPN}
    @bazarr             host bazarr.{$DOMAIN_LOCAL} bazarr.{$DOMAIN_VPN}


    reverse_proxy @speedtest          speedtest:80
    reverse_proxy @speedtest-tracker  speedtest-tracker:80
    reverse_proxy @youtube-dl         youtube-dl:8080
    reverse_proxy @gluetun-st         gluetun:80
    reverse_proxy @qbittorrent        gluetun:8080
    reverse_proxy @prowlarr           gluetun:9696
    reverse_proxy @sonarr             gluetun:8989
    reverse_proxy @radarr             gluetun:7878
    reverse_proxy @bazarr             gluetun:6767
}
